﻿<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem("/sitecore/Content/Home/Store"))">Helix Store</a>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav"></ul>
</div>